{
    "plugins": ["@alfalab/stylelint-core-vars"],
    "rules": {
        "stylelint-core-vars/use-vars": true,
        "stylelint-core-vars/use-mixins": true,
        "stylelint-core-vars/use-one-of-vars": [
            true,
            {
                "severity": "warning"
            }
        ],
        "stylelint-core-vars/use-one-of-mixins": [
            true,
            {
                "severity": "warning"
            }
        ],
        "stylelint-core-vars/do-not-use-dark-colors": [
            true,
            {
                "severity": "warning"
            }
        ]
    }
}
