:root {
    --color-secondary: rgba(11, 31, 53, 0.64);
    --color-tertiary: rgba(11, 31, 53, 0.3);
    --color-disabled: rgba(11, 31, 53, 0.15);

    /* BUTTON */

    --button-primary-base-bg-color: var(--color-light-bg-accent);
    --button-primary-hover-bg-color: var(--color-light-bg-accent-shade-7);
    --button-primary-active-bg-color: var(--color-light-bg-accent-shade-15);
    --button-secondary-base-bg-color: rgba(11, 31, 53, 0.1);
    --button-secondary-hover-bg-color: color-mod(rgba(11, 31, 53, 0.1) blenda(black 4%));
    --button-secondary-active-bg-color: color-mod(rgba(11, 31, 53, 0.1) blenda(black 7%));
    --button-border-radius: 8px;
    --button-active-transform: none;

    /* FORM CONTROL & INPUT */

    --form-control-border-bottom: 0;
    --form-control-focus-border-bottom: 0;
    --form-control-error-border-bottom: 0;
    --form-control-disabled-border-bottom: 0;

    --input-error-icon: none;

    --form-control-border-radius: 8px;

    --input-color: var(--color-light-text-primary);
    --form-control-color: var(--color-light-text-primary);

    --form-control-bg-color: rgba(11, 31, 53, 0.1);
    --form-control-focus-bg-color: #fff;
    --form-control-hover-bg-color: rgba(11, 31, 53, 0.07);

    --form-control-label-color: rgba(11, 31, 53, 0.64);
    --form-control-hint-color: rgba(11, 31, 53, 0.64);

    --input-placeholder-color: rgba(11, 31, 53, 0.64);
    --input-focus-placeholder-color: rgba(11, 31, 53, 0.4);
    --input-with-label-placeholder-color: rgba(11, 31, 53, 0.4);

    --form-control-disabled-bg-color: rgba(11, 31, 53, 0.05);
    --form-control-disabled-color: rgba(11, 31, 53, 0.4);
    --input-disabled-color: rgba(11, 31, 53, 0.4);

    --form-control-error-shadow: none;

    --form-control-error-shadow: inset 0 0 0 2px var(--color-light-border-accent);

    /* SELECT */

    --select-options-list-offset: 4px;
    --select-options-list-border-radius: 12px;
    --select-options-list-box-shadow: var(--shadow-m);
    --select-arrow-color: rgba(11, 31, 53, 0.4);
}

[class*=input__input]:disabled {
    -webkit-text-fill-color: rgba(11, 31, 53, 0.64);
}

[class*=form-control__filled] [class*=input__input]:disabled {
    -webkit-text-fill-color: rgba(11, 31, 53, 0.64);
}

[class*=form-control__disabled] [class*=form-control__label] {
    color: rgba(11, 31, 53, 0.4);
}

[class*=select__placeholder] {
    color: rgba(11, 31, 53, 0.64);
}

/* [class*=form-control__inner][class*=form-control__disabled] {
    box-shadow: inset 0 0 0 1px rgba(11, 31, 53, 0.05);
} */

[class*=form-control__inner][class*=form-control__focused] {
    box-shadow: inset 0 0 0 2px rgba(11, 31, 53, 0.64);
    transition: background 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff !important;
}
