:root {
    --new-secondary: rgba(11, 31, 53, 0.64);
}

.disableSwitch {
    margin-top: var(--gap-xs);
}

.row {
    & > * {
        margin-top: var(--gap-xl);

        &:first-child {
            margin-top: 0;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        & > * {
            flex-basis: 267px;
            margin-right: var(--gap-xl);
            margin-top: 0;

            &:last-child, &:only-child {
                margin-right: 0;
            }

            &:only-child {
                flex-basis: auto;
            }
        }
    }

    &.offset-medium {
        margin-top: var(--gap-xl);
    }

    &.offset-large {
        margin-top: var(--gap-2xl);
    }
}

.label {
    flex: 0 0 100%;
    color: var(--new-secondary);
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 -18px;

    @media (min-width: 768px) {
        margin: 0 0 6px;
    }
}

input[class*=radio-group__hiddenInput] {
    display: none;
}

button[class*=link__component] {
    padding: 0;
    font-size: inherit;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
}

[class*=link__text] {
    border-bottom: 0;
}
