.label {
    display: block;
    margin-bottom: 6px;
    color: var(--form-control-label-color);
    font-size: 14px;
    line-height: 18px;
}

.wrapper {
    display: block;
    flex-grow: 1;
    width: 100%;
}

.iconWithText {
    display: flex;
    align-items: center;

    & > *:first-child {
        margin-right: 4px;
    }
}

.addons {
    font-size: 0;
}

.addons svg {
    display: inline-block;
    color: var(--color-tertiary);
}

:global([class*=form-control__rightAddons]) .addons svg {
    margin-left: 8px;
}

:global([class*=form-control__leftAddons]) .addons svg {
    margin-right: -4px;
}

/* TEST */
/* :global([class*=form-control__disabled]) svg {
    color: var(--color-tertiary) !important;
}
:global([class*=form-control__disabled]) svg:first-child {
    color: var(--color-disabled) !important;
} */

:global([class*=form-control__disabled]) svg + :global(.calendar-icon) {
    display: none;
}

:global([class*=input__errorIcon]) {
    display: none;
}