.label {
    display: block;
    margin-bottom: 6px;
    color: var(--form-control-label-color);
    font-size: 14px;
    line-height: 18px;
}

.wrapper {
    display: block;
    flex-grow: 1;
    width: 100%;
}

.iconWithText {
    display: flex;
    align-items: center;

    & > *:first-child {
        margin-right: var(--gap-3xs);
    }
}
